body{
    font-family: Arial, sans-serif;
    background-color: #2b0101;
    color: blanchedalmond;
    margin: 0;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 20px auto 0;
}